# IntelliJ IDEA
.idea/

# Compiled files
*.class
*.war
*.ear
*.jar

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3

# User-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/libraries
.idea/caches
.idea/libraries

# Local configuration file (shouldn't be shared across machines)
.idea/misc.xml

# File-based project format
*.iws

# OS-specific files
.DS_Store
Thumbs.db

# Compiled Gradle files
build/
out/
